{% extends 'admin/base.html' %}
{% load static %}


{% block branding %}
<header id="header-login" class="alt style2" >
{#    <a class="logo"><strong>HooMY</strong> <span>Adminstration</span></a>#}
    <link rel="stylesheet" href="{% static 'css\adminstyle.css' %}">
    <img src="{% static '\images\img_1.png' %}" alt="PetShop" height="60px" >
</header>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="{% static 'css/override-fonts.css' %}" />
{#<link rel="stylesheet" href="{% static 'css/adminstyle.css' %}">#}
{% endblock %}